spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/dospring}
    username: ${SPRING_DATASOURCE_USERNAME:dospring}
    password: ${SPRING_DATASOURCE_PASSWORD:dospring}
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  flyway:
    enabled: true
    baseline-on-migrate: true
